#tabpane .tab-header-background {
    -fx-background-color: #AF8F6F;
}
#tabpane .tab-header-area .tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
#tabpane .tab-header-area .tab:selected {
    -fx-background-color: #74512D;
}
#tabpane .tab-header-area .tab:hover {
    -fx-background-color: #74512D;
}
#tabpane .tab-header-area .tab-label {
    -fx-text-fill: #F8F4E1;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-pref-height: 40px;
    -fx-pref-width: 231px;
}

#namedocument {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
    -fx-padding: 0;
}
#author {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
    -fx-padding: 0;
}
#descripe {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
    -fx-padding: 0;
}
#searchbutton {
    -fx-background-color: #AF8F6F;
}
#searchbutton:pressed {
    -fx-background-color: #74512D;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.0, 2, 2);
}

#tableView .table-row-cell {
    -fx-pref-height: 130px;
}
#imagecolumn .table-cell {
    -fx-alignment: CENTER; /* Căn giữa cả theo chiều dọc và ngang */
    padding: 5px; /* Tùy chọn: Thêm khoảng cách giữa hình ảnh và viền ô */
}
#namedocument .text-area{
    -fx-alignment: CENTER;
}
